@tailwind base;
@tailwind components;

#heroimg {
    transition: transform 0.5s ease-in-out;
  }
.animate-left {
    transform: translateX(-10%);
  }

/* .bg-lite-blue{
  background-color: #2897c5;
}
.bg-dark-blue{
  background-color: #065170;
} */

/* animation */
/* .hiddenAni{
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
} */


.hiddenAni{
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: all 1s;
}
.hiddenRight{
  opacity: 0;
  filter: blur(5px);
  transform: translate(100%);
  transition: all 1s;
}
.hiddenUp{
  opacity: 0;
  filter: blur(5px);
  transform: translate(0px, 52px);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0)
}
/* @media(prefers-reduced-motion) {
  .hiddenAni{
    transition: none;
  }
} */
.img-0{
  transition-delay: 200ms;
}
.img-1{
  transition-delay: 500ms;
}
.img-2{
  transition-delay: 800ms;
}



#glus{
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}


.bg-img0{
  background-image: url('../public/img/oil-change.jpg');
  width: 100%;
  background-size: cover;
  background-blend-mode: overlay;
}
.bg-img1{
  background-image: url('../public/img/brake-service.jpg');
  width: 100%;
  background-size: cover;
  background-blend-mode: overlay;
}
.bg-img2{
  background-image: url('../public/img/tire-change.jpg');
  width: 100%;
  background-size: cover;
  background-blend-mode: overlay;
}

@tailwind utilities;